<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width">
    <script type="text/javascript" src="file:///android_asset/zepto.min.js"></script>
    <script type="text/javascript" src="file:///android_asset/underscore-min.js"></script>
    <script type="text/javascript" src="file:///android_asset/wh.js"></script>
    <link rel="stylesheet" type="text/css" href="file:///android_asset/wh.css" />
</head>
<body>
<script id="video-template" type="text/template">
    <a href="http://www.youtube.com/watch?v=<%= videoId %>">
        <div class="video-thumbnail">
            <img class="thumbnail" src="http://img.youtube.com/vi/<%= videoId %>/0.jpg" />
            <img class="play-button" src="file:///android_asset/play.png" />
        </div>
    </a>
</script>
<script id="template" type="text/template">
    <h1><%= title %></h1>
    <p class="dateline">
        by <%= creator %><br />
        <%= date %>
    </p>
    <div class="content">
        <%= description %>
    </div>
    <div class="branding"><img src="file:///android_asset/branding.png" /></div>
</script>
<div id="article"></div>
</body>
</html>
