[submodule "contrib/actionbarsherlock"]
	path = contrib/actionbarsherlock
	url = https://github.com/JakeWharton/ActionBarSherlock.git
	ignore = dirty
[submodule "contrib/viewpagerindicator"]
	path = contrib/viewpagerindicator
	url = https://github.com/JakeWharton/Android-ViewPagerIndicator.git
	ignore = dirty
[submodule "contrib/android-undergarment"]
	path = contrib/android-undergarment
	url = https://github.com/eddieringle/android-undergarment.git
